
<%= form_for :refund, url: refunds_path do |f| %>
  <p>
    <%= f.label :valor %><br>
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.label :descrição %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
